#form-section {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#form-section h2 {
  font-size: 2vw;
  margin-bottom: 20px;
  color: #95c11e;
}

.form-input {
  margin: 10px 0;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

#sendButton {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 1em;
  background-color: #95c11e;
  border: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #95c11e;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: 30px;
  font-weight: bold;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}

@keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
}
