* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}

html,
body {
  height: 100%;

  width: 100%;
}
*::selection {
  background-color: #fff;
  color: rgba(30, 155, 193, 0.3);
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: rgba(30, 155, 193, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;

  border-radius: 50px;
}
body {
  overflow-x: hidden;
}
#cursor {
  height: 20px;
  width: 20px;
  background-color: rgba(30, 155, 193);
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  transition: all linear 0.1s;
}
#cursor-blur {
  height: 500px;
  width: 500px;
  background-color: rgba(30, 155, 193, 0.3);
  border-radius: 50%;
  position: fixed;
  filter: blur(80px);
  z-index: 9;
  transition: all linear 0.4s;
}
#nav {
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 30px;
  position: fixed;
  justify-content: flex-start;
  z-index: 999;
}
#nav img {
  height: 4.5vw;
  border-radius: 50%;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.35vw;
}
#nav a{
  text-decoration: none;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 7.5vw;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "SWASTHYASETU";
  position: absolute;
  color: #000;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 1.5px rgba(30, 155, 193, 0.3);
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 1.2vw;
  font-weight: 500;
  width: 40%;
}
#page1 #arrow {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border: 2px solid rgba(30, 155, 193, 0.3);
  position: absolute;
  display: flex;
  left: -2%;
  bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}
#page1 #arrow i {
  font-size: 50px;
  font-weight: 100;
}
#page1 #arrow:hover {
  scale: 0.4;
  background-color: rgba(30, 155, 193, 0.3);
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 20px;
  transition: all linear 0.3s;
  color: #000;
  -webkit-text-stroke: 2px #ffffff;
}
#scroller h4:hover {
  color: rgba(25, 194, 81, 0.699);
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  padding: 0 50px;
  align-items: center;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}
#about-us img {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}
#about-us-in {
  width: 50%;
  text-align: center;
}
#about-us-in h3 {
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 30px;
}
#about-us-in p {
  font-size: 20px;
  line-height: 26px;
}

#cards-container {

  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}
.card {
  height: 80%;
  width: 25%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
}
#card1 {
  background-image: url(templates/images/card1.jpeg);
}
#card2 {
  background-image: url(templates/images/card2.jpg);
}
#card3 {
  background-image: url(templates/images/card3.jpeg);
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(30, 155, 193);
  padding: 20px;
  padding-top: 20px;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4 {
  color: #000;
  font-size: 20px;
  font-weight: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
  font-weight: 800;
}
.overlay p {
  color: #000;
  font-size: 18px;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}

#green-div {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left bottom, rgba(55, 124, 228, 0.5), rgba(43, 181, 223, 0.5));
}
#green-div h4 {
  width: 45%;
  line-height: 50px;
  color: #000;
  text-align: center;
  font-weight: 800;
  font-size: 27px;
  text-transform: uppercase;
}
#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}

#page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
#page3 > p {
  font-size: 35px;
  font-weight: 700;
  width: 60%;
  line-height: 45px;
  text-align: center;
}

#page3 img {
  position: absolute;
  height: 60px;
}
#page3 #colon1 {
  left: 15%;
  top: 25%;
}
#page3 #colon2 {
  bottom: 30%;
  right: 15%;
}
#page4 {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
}
.elem {
  height: 90%;
  width: 86%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: rgba(30, 155, 193, 0.3);
  display: flex;
  color: #000;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  font-size: 2vw;
  position: absolute;
  z-index: 10;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}
#page4 h1 {
  font-size: 6.4vw;
  position: absolute;
  top: -15%;
  font-weight: 900;
  font-family: gilroy;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}
#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #0887a7 0%, #21d4c5 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px; 
  background-color: #25d366;
  /* color: #FFF; */
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  /* box-shadow: 2px 2px 3px #999; */
  z-index: 100;
 
}
